/* Selettore universale - seleziona ogni elemento in pagina */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */
.header-bg {
  background-color: #4ea0ff;
  background-image: url(../img/pattern.png);
  background-size: 300px;
  height: 100px;
}

/* Tutte le immagini che stanno dento .header-bg */
/* .header-bg img {
  width: 150px;
}   */

/* Elemento con la classe .header-logo che sta dento elemento con la classe .header-bg */
.header-bg .header-logo {
  width: 150px;
}

/* MAIN */
/* Article section */
.main-title {
  font-size: 28px;
}

.author-text,
.date {
  color: gray;
}

.author-text .author {
  color: blue;
}

.date {
  font-size: 10px;
}

.image-description {
  font-size: 10px;
}

.hilight {
  background-color: yellow;
}

ul {
  margin-left: 20px;
}

/* Table styliing */
table {
  border-collapse: collapse;
}

thead {
  background-color: #20a9e5;
}

table .odd {
 background-color: #b1e5f2;
}

th {
  color: white;
  text-align: left;
}

th.large {
  width: 50%;
}

/* Suggestions section */
.section-title {
  font-size: 16px;
  color: gray;
}

.suggestion-image {
  height: 200px;
  width: 200px;
  background-size: cover;
  margin-bottom: 10px;
  
  /* border: 4px solid green; */
  border-top: 4px solid black;
  border-bottom: 10px dashed red;

  /* border-radius: 20px; */
  /* border-top-left-radius: 10px;
  border-top-right-radius: 50px; */

  /* Per creare il cerchio */
  border-radius: 50%;
}

.suggestion-image a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
}

.computer {
  background-image: url(../img/monitor.jpg);
}

.graph {
  background-image: url(../img/graph.jpg);
}

.img-test {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.box {
  width: 200px;
  background-color: lightgreen;
  border: 2px solid black;
  padding: 10px;
  /* padding: 20px; */
  /* padding-left: 20px;
  padding-top: 5px; */
  /* padding: 5px 10px 15px 20px; */
  /* padding: 10px 5px 15px; */
  /* padding: 20px 5px; */

  /* margin: 40px; */
  /* margin-top: 30px;
  margin-left: 10px; */
  /* margin: 10px 20px 30px 40px; */
  /* margin: 10px 15px 20px; */
  /* margin: 20px 10px; */
/* 
  margin-left: 2%;
  margin-top: 2%; */
  margin: 0 auto;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 100px;
}


.square {
  display: inline-block;
  /* display: inline;
  display: none; */
  width: 200px;
  height: 200px;
  background-color: green;
  margin: 5px;
}

.image-test {
  width: 150px;
}