/* HEADER */
.header-bg {
  background-color: #4ea0ff;
  background-image: url(../img/pattern.png);
  background-size: 300px;
  height: 100px;
}

/* Tutte le immagini che stanno dento .header-bg */
/* .header-bg img {
  width: 150px;
}   */

/* Elemento con la classe .header-logo che sta dento elemento con la classe .header-bg */
.header-bg .header-logo {
  width: 150px;
}


/* MAIN */
